.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  color: #00008b;
}

.header-ttl {
  font-size: 30px;
  margin-left: 20px;
}

.header-list {
  display: flex;
  font-weight: bold;
}

.header-item {
  margin-right: 20px; 
}

p {
  display: flex;
  flex-direction: row;
  ali
  color: black;
  font-size: 50px;
}

.relative {
  position: relative;
  bottom: 80px;
  left: 500px;
  z-index: 10;
}

.img {
  width: 100%
}

.absolute {
  position: absolute;
  bottom: 15px;
  right: 150px;
  z-index: 0;
}

.blue-box {
  width: 1000px;
  height: 150px;
  background-color: #00008b;
}