.homepage {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  color: #00008b;
}

.header-ttl {
  font-size: 30px;
  margin-left: 20px;
}

.header-list {
  display: flex;
  font-weight: bold;
  list-style: none;
}

.header-item {
  margin-right: 20px; 
}

.relative-img {
  width: 100%;
  margin-top: 50px;
  text-align: right;
  z-index: 10;
}

.img {
  width: 100%;
  height: auto;
}


.flex { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-ttl {
  color: black;
  font-size: 50px;
  text-align: justify;
}

.absolute-blue-box {
  width: 100%;
  position: absolute;
  bottom: 15px;
  top: 40
  z-index: 0;
  background-color: #00008b;
}

