h1 {
  color: #00008b;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 20px;
}

ul {
  color: #00008b;
  font-size: 30px;
  margin-top: 15px;
  margin-right: 20px;
  text-align: right;
  display:flex
  justify-content: flex-end
}

.flex {
  display: flex;
  flex-direction: row;
}

p {
  color: black;
  font-size: 50px;
}

.relative {
  position: relative;
  bottom: 80px;
  left: 500px;
  z-index: 10;
}

.img {
  width: 100%
}

.absolute {
  position: absolute;
  bottom: 15px;
  right: 150px;
  z-index: 0;
}

.blue-box {
  width: 1000px;
  height: 150px;
  background-color: #00008b;
}