.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  color: #00008b;
}

.header-ttl {
  font-size: 30px;
  margin-left: 20px;
}

.header-list {
  display: flex;
  font-weight: bold;
  list-style: none;
}

.header-item {
  margin-right: 20px; 
}

.relative-img {
  margin-top: 70px;
  margin-bottom: 80px;
  margin-left: 500px;
  z-index: 10;
}

.img {
  width: 100%;
  height: auto;
}

.flex { 
  color: black;
  font-size: 50px;
  margin-top: 200px;
  margin-right: 80px;
}

.main-ttl {
  color: black;
  
}
.flex {
  margin-bottom: 20px;
  margin-right: 200px;
  z-index: 0;
}

.absolute-blue-box {
  width: 800px;
  height: 150px;
  background-color: #00008b;
}

