.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  color: #00008b;
}

.header-ttl {
  font-size: 30px;
  margin-left: 20px;
}

.header-list {
  display: flex;
  font-weight: bold;
  list-style: none;
}

.header-item {
  margin-right: 20px; 
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: black;
  font-size: 50px;
  margin-top: 200px;
  margin-right: 80px;
}

.relative-img {
  position: relative;
  bottom: 80px;
  left: 500px;
  z-index: 10;
}

.img {
  width: 100%;
  height: auto;

}

.absolute {
  position: absolute;
  bottom: 15px;
  right: 150px;
  z-index: 0;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 800px;
  height: 150px;
  background-color: #00008b;
  background-position: bottom;
}

